.StylesHome{
    background-image: url("C:\Users\ALEJO\Desktop\Store React Js\BikeStore\src\Imagenes\bgBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: start;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    height: 70vh;


}

.letraGrande{
    font-size: 52px;
}




/* navBar */
.NavBar{

    align-items: center;
    margin-left: 2%;
    font-weight: 600;


}

.itemsNav{
    color: white !important;
    margin: 4px 4px 4px 4px;
    font-weight: 500!important;
    font-size: 1.0rem!important;
    text-indent: 5px;
}

.itemsNav:hover{
    color:#0097f5!important;
    
}

.titleBicicletas{
    font-size: 48px;
    color: #393939;
    margin-top: 25px;
    font-weight: 700;
}



/* Banner Dos "Conocemos lo mejor para vos" */
.BannerDos{

    background-image: url("C:\Users\ALEJO\Desktop\Store React Js\BikeStore\src\Imagenes\BannerDos.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    height: 53vh;
    display: flex;
    align-items: center;
    
}
.PBanner{
color: hsla(0,0%,100%,.8) ;  
font-size: 20px; 

}
.H2Banner{
    color:#ffff;
    font-size:48px ;
}
.ButtonBanner{
    font-size: 18px;
    color: #ffff;
    background-color: transparent;
    border: solid 1px #ffff;
    width: 16rem;   
}


/* Seccion de envios y servicios  */

.Envios{
    /* color del texto #666 */
display: flex;
align-items: center;

background: linear-gradient( white,rgba(100, 100, 100, 0.705) );
justify-content: center;



}

/* Iconos seccion envios y servicios */
.iconos{
    width: 3em;
    padding: 3px 3px 3px 3px;
    margin: 0px 13px 10px 2px;
    
}

/* Footer */
.Footer{
background-image: url("C:\Users\ALEJO\Desktop\Store React Js\BikeStore\src\Imagenes\backgroundFooter.jpg");
background-position: center;
background-size: cover;
padding-top: 20px;
font-family: 'Rajdhani', sans-serif;

}   

.HFooter{
    color: #ffffffb3;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.AFooter{
color:  #ffffffcc;
text-decoration: none;

}

/* Sobre Nosotros */

.Strong{
    font-size: 54px ;
    color: #969595de;
    border-color: hsla(0,0%,72%,.5);

}
.h1Element{
    color: #393939;
    font-size: 39px;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.pElement{
    font-size: 19px;
    color: #2b2a2a;
    margin-bottom: 50px;

    
}



/* Login */

.containLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: red;
    background-image: url("C:\Users\ALEJO\Desktop\Store React Js\BikeStore\src\Imagenes\BackLoginPc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 15vh;
    background-position:center ;
    background-attachment:fixed;
    
    
}

.containFormLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1.4px solid rgb(223, 28, 191); */
    width: 25vw!important;
    height: 50vh!important;
    margin-bottom: 50px;
    gap: 15px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter:blur(3.2px) ;
    margin-bottom: 120px;
    
}


.Form{
    width: 80%!important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #2b2a2a;
    text-align: start;
    
    
    
    
}

.signIn{
    font-size: 1.8rem!important;
    font-weight: 700!important;
    color: #2b2a2a;
    text-transform: uppercase;
}

.nameInput{
    font-size: 1.2rem;
    font-weight: 600;
    
}

.inputLine{
    color: #2b2a2a!important;
    width: 100%!important;
    background-color: transparent!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cbcbcb;
    outline: none;
    margin-bottom: 1rem;
    font-weight: 600!important;
    font-size: large!important;
    
    
}

.inputLine:hover{
    background-color:#0097f550!important;
}

.buttonLogin{
    width: 50%!important;
    height: 45px!important;
    border-radius: 55px!important;
    background:rgba(255, 255, 255, 0.14)!important;
    color: black !important;
    font-size: 14px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    border: 2px solid white!important;
    margin-bottom: 1rem!important;
    cursor: pointer!important;
    transition: 1.5s!important;


}

/* Boton de registrarse en login */
.buttonLoginDos{
    width: 50%!important;
    height: 45px!important;
    border-radius: 55px!important;
    background: transparent!important;
    color: black!important;
    font-size: 14px!important;
    font-weight: 600!important;
    text-transform: uppercase;
    border: 2px solid white!important ;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 1.5s!important;
    opacity: 0.6!important;
    display: flex;
    justify-content: center;
    align-items: center;

}


.buttonLogin:hover{
    box-shadow: 0px 0px 8px #ffffffa4;
    border:solid 1px #0097f5!important;
    background-color:#0097f550!important;
    
}

.buttonLoginDos:hover{
    opacity: 1;
    border:solid 1px #0097f5!important;
    box-shadow: 0px 0px 8px #ffffffa4;
    background-color:#0097f550!important;
}

/* Media Query login */
@media only screen and (max-width: 800px){
    .Form{
        width: 85%!important;
        /* border: solid red; */
        height: 40vh;
        
    }
    .containFormLogin{
        width: 85vw!important;
        
        
    }
    .containLogin{
        gap: 22vh;
        background-position: left;
    
    }
    .buttonLogin{
        width: 50%!important;
    }
}


/* media Phones  */
@media only screen and (max-width: 700px){

    .containLogin{
        background-image: url("C:\Users\ALEJO\Desktop\Store React Js\BikeStore\src\Imagenes\backLoginPhone.jpg");
        /* background-position: -290px; */
        background-size: cover;
        gap: 70px;
        
    }
    .buttonLogin{
        width: 75%!important;
    }
    .buttonLoginDos{
        width: 75%!important;
    }
    .containFormLogin{
        height: 80vh!important;
        
    }
}

/* phone rotacion */
@media only screen and (max-height: 400px){

    .containFormLogin{
        width: 60vw!important;
        height: 150vh!important;
        
        
    }
    .containLogin{
        background-image: url("../Imagenes/backLoginPhone.jpg");
    }

}


/* Media Query para el iframe seccion "Contacto" */
@media only screen and (max-width: 1000px){
    .Mapa{
        width: 100%;
    }
    
}
@media only screen and (max-width: 600px){
    .Mapa{
        width: 85vw;
    
    }
    
}
@media only screen and (max-width: 550px){
    .StylesHome{
        height: 78vh;
        gap: 15px;
    
    }
    
}
